.bg-text {

  .upper,
  .lower {
      width: 100%;
      height: 240px;
      top: 50%;
      left: 0;
      position: absolute;
      display: block;
      margin: 0;
      padding: 0;
      overflow: hidden
  }

  .upper {
      opacity: 0;
      transform: translate(-25%, -240px);
      animation: slideRight $speed-slow $easing forwards;
  }

  .lower-text,
  .upper-text {
      font-size: 34.286em;
      font-weight: 700;
      line-height: 100%;
      height: 100%;
      width: 100%;
      color: rgba(0,0,0,0.15);
  }

  .lower-text {
      opacity: 0;
      transform: translate(25%, -240px);
      animation: slideLeft $speed-slow $easing forwards;
  }

  .divider {
    opacity: 0;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.35);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transform: translateX(-100%);
    animation: lineRight $speed-slow $easing $delay forwards;
  }

  @keyframes slideRight {
    to {
      opacity: 1;
      transform: translate(0, -240px);
    }
  }

  @keyframes slideLeft {
    to {
      opacity: 1;
      transform: translate(0, -240px);
    }
  }

  @keyframes lineRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
